@model IEnumerable<SL8VendorPortal.Models.co>

@Scripts.Render("~/bundles/SearchCustomerOrders")

@{
    ViewBag.Title = "Search";
}

<h2>Search Customer Orders</h2>
<div>
<a href="Search" id="spsViewDetail">Click Here for Popup View</a>
</div>

<table id="objItems">
    <thead>
        <tr>
            <th>
                Drill
            </th>
            <th>
                @Html.DisplayNameFor(model => model.co_num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cust_num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cust_po)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.taken_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ship_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qty_packages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slsman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eff_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exp_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.whse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ship_partial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ship_early)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projected_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts 
{ 
}



<script type="text/javascript">
    var sOpenImageUrl = '@Url.Content("~/images/details_open.png")';
    var sCloseImageUrl = '@Url.Content("~/images/details_close.png")';
    var sLineURL = '@Url.Action("GetOrderNotes", "CustomerOrders")'


    function fnFormatDetails(oTable, nTr, sTableName) {
        var oData = oTable.fnGetData(nTr);

        var sOut =
            '<div class="innerDetails">' +
                '<table id="' + sTableName + '">' +
                    '<thead>' +
                        '<tr>' +
                            '<th>' +
                                'Notes' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.COItem.co_line)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.COItem.co_release)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.COItem.qty_ordered)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.COItem.qty_shipped)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.COItem.due_date)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.COItem.ship_date)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.COItem.projected_date)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.COItem.CreateDate)' +
                            '</th>' +
                        '</tr>' +
                    '</thead>' +
                    '<tbody></tbody>' +
                '</table>' +
            '</div>';

        return sOut;
    }

    // make a link to delete an id's row in the database.  oObj is defined as object passed to <a href="/ref#fnRender">fnRender</a> // you could just make this an anonymous function in-line with the aoColumns definition
    function makeViewNotesBtn(oObj) {
        // I'm relying on id being in column 0, but I could just as well used 
        //  oObj.aData[oObj.iDataColumn]; // since this column also has the ID value
        //var id = oObj.aData[0];
        var sOrderNo = oObj.aData.co_num;


        //sLineURL = document.URL.replace(/Search$/, ""); //uses a RegEx to remove the string 'Search' only if it is at the end of the URL 
        //sLineURL = sLineURL + 'GetOrderNotes';

        //return "<a href='db_delete.php?table=publications&id=" + id + "&nojq' class='delete' title='delete " + id + " from database'><img src='graphics/delete.png' height='12' width='12'></a>";
        return "<a href='" + sLineURL + '?&OrderNo=' + sOrderNo + "' class='ViewNotes' title='View Notes'><img src='" + sOpenImageUrl + "' height='12' width='12'></a>";

    }
</script>
