@model IEnumerable<SL8VendorPortal.Models.transfer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trn_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.from_whse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.to_whse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ship_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty_packages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.from_site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.to_site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entered_site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fob_site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exch_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.freight_vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duty_vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brokerage_vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frt_alloc_percent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duty_alloc_percent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brk_alloc_percent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est_freight_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.act_freight_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est_brokerage_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.act_brokerage_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est_duty_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.act_duty_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.freight_amt_t)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brokerage_amt_t)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duty_amt_t)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duty_alloc_meth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frt_alloc_meth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brk_alloc_meth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duty_alloc_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frt_alloc_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brk_alloc_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trans_nat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.process_ind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delterm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteExistsFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowPointer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InWorkflow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ins_vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ins_alloc_percent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ins_alloc_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est_insurance_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ins_alloc_meth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.act_insurance_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_amt_t)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loc_frt_vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loc_frt_alloc_percent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loc_frt_alloc_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est_local_freight_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loc_frt_alloc_meth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.act_local_freight_amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.local_freight_amt_t)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trans_nat_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.export_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uf_pref_type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trn_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.from_whse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.to_whse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ship_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty_packages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.from_site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.to_site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entered_site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fob_site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exch_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.freight_vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duty_vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brokerage_vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frt_alloc_percent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duty_alloc_percent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brk_alloc_percent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.est_freight_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.act_freight_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.est_brokerage_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.act_brokerage_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.est_duty_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.act_duty_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.freight_amt_t)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brokerage_amt_t)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duty_amt_t)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duty_alloc_meth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frt_alloc_meth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brk_alloc_meth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duty_alloc_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frt_alloc_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brk_alloc_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trans_nat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.process_ind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delterm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteExistsFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowPointer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InWorkflow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ins_vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ins_alloc_percent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ins_alloc_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.est_insurance_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ins_alloc_meth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.act_insurance_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_amt_t)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loc_frt_vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loc_frt_alloc_percent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loc_frt_alloc_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.est_local_freight_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loc_frt_alloc_meth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.act_local_freight_amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.local_freight_amt_t)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trans_nat_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.export_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uf_pref_type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
        </td>
    </tr>
}

</table>
