@model SL8VendorPortal.Models.transfer

@Scripts.Render("~/bundles/SearchTransferOrders")

@{
    ViewBag.Title = "Search";
}
<h2>Search Transfer Orders</h2>


<table id="objItems">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trn_num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.from_whse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.to_whse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qty_packages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
        </tr>
    </thead>
</table>

@*<form id="frmAddVendorRequest" action="#" title="Add new Vendor Request" style="display: none" >*@
@*I needed the HTML.BeginForm in order to leverage the Validation messages... Just using the HTML Form tags didn't work
    Notice also how I am able to set the name and id html attributes by using Name and ID... *@
 @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAddVendorRequest", style = "display: none" }))
 {
     @Html.HiddenFor(model => model.TrnItem.VendorRequest.ID, new { Name = "ID", ID = "ID", rel = "0" })
    <input type="hidden" id="Notebtn" name="Notebtn" rel="1"/> <!--This field is just for the column that holds the button image...-->
    @Html.HiddenFor(model => model.TrnItem.VendorRequest.OrderNo, new { Name = "OrderNo", ID = "OrderNo", rel = "7" })
    @Html.HiddenFor(model => model.TrnItem.VendorRequest.LineNo, new { Name = "LineNo", ID = "LineNo", rel = "8" })
    @Html.HiddenFor(model => model.TrnItem.VendorRequest.ReleaseNo, new { Name = "ReleaseNo", ID = "ReleaseNo", rel = "6" })
    @Html.HiddenFor(model => model.TrnItem.VendorRequest.RequestCategoryID, new { Name = "RequestCategoryID", ID = "RequestCategoryID", rel = "10" })
     @Html.HiddenFor(model => model.TrnItem.VendorRequest.Item, new { Name = "Item", ID = "Item", rel = "11" })

    
    @Html.ValidationSummary(true)
    @Html.ValidationSummary("Errors:")

    <table>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(model => model.TrnItem.VendorRequest.Qty)
                @Html.ValidationMessageFor(model => model.TrnItem.VendorRequest.QtyLoss)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.RequestCategoryCode)</td>
            <td>
                @*Datatables uses the name property for sending the value in the textbox or dropdownlist to the server; The DropDownListFor and TextBoxFor default to using the 
                model listing as the name (model.TrnItem.VendorRequest.RequestCategoryCode instead of RequestCategoryCode). I cannot override the 'name' property for my html attributes, so what
                I did was to specify 'Name' (notice the captital 'N') instead which datatables would then use when posting the data to the controller. *@
                @Html.DropDownListFor(model => model.TrnItem.VendorRequest.RequestCategoryCode, ViewData["RequestCategoryCode"] as SelectList, new { Name = "RequestCategoryCode", rel = "2" })
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.Qty)</td>
            <td>@Html.TextBoxFor(model => model.TrnItem.VendorRequest.Qty, new { Name = "Qty", style = "width:100px", rel = "3" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.QtyLoss)</td>
            <td>@Html.TextBoxFor(model => model.TrnItem.VendorRequest.QtyLoss, new { Name = "QtyLoss", style = "width:100px", rel = "4" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.SourceWarehouse)</td>
            <td>@Html.DropDownListFor(model => model.TrnItem.VendorRequest.SourceWarehouse, ViewData["SourceWarehouses"] as SelectList, new { Name = "SourceWarehouse", rel = "5" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.DestWarehouse)</td>
            <td>@Html.DropDownListFor(model => model.TrnItem.VendorRequest.DestWarehouse, ViewData["DestWarehouses"] as SelectList, new { Name = "DestWarehouse", rel = "6" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.Notes)</td>
            <td>@Html.TextAreaFor(model => model.TrnItem.VendorRequest.Notes, new { Name = "Notes", rel = "9", @class = "MyAutogrow" })</td>
        </tr>
    </table>

    @*<input id="btnAddNewCompanyOk">
    <input id="btnAddNewCompanyCancel">*@

 }

<div id='NotesDialogDiv' style="display: none;">
</div>
<div id='VendorRequestDialogDiv' style="display: none;">
</div>
@section scripts 
{ 
}



<script type="text/javascript">
    var sOpenImageUrl = '@Url.Content("~/images/details_open.png")';
    var sCloseImageUrl = '@Url.Content("~/images/details_close.png")';
    var sProgressImageUrl = '@Url.Content("~/Images/Progress.gif")'; //gives the progress gif URL for ajax callback in SearchTransferOrder.js
    var sNotesUpdateUrl = '@Url.Action("UpdateNote", "Notes")';
    var sTONotesUrl = '@Url.Action("TONotesViewer", "Notes")';

    var sVendorRequestsUrl = '@Url.Action("VendorRequests", "VendorRequests")';
    var sAllWhsesUrl = '@Url.Action("AllWarehouses", "VendorRequests")';
    var sUserWhsesUrl = '@Url.Action("UserWarehouses", "VendorRequests")';
    var sVRNotesUpdateUrl = '@Url.Action("UpdateNote", "VendorRequests")';
    var sUpdateVRUrl = '@Url.Action("UpdateVR", "VendorRequests")';
    var sDeleteVRUrl = '@Url.Action("DeleteVR", "VendorRequests")';
    var sAddVRUrl = '@Url.Action("AddVR", "VendorRequests")';
    var sRequestCatUrl = '@Url.Action("RequestCategories", "VendorRequests")';
    var sPrintTOUrl = '@Url.Action("GenerateTOReport", "TransferOrders")';


    function GetLineTableHTML(oTable, nTr, sTableName) {
        var oData = oTable.fnGetData(nTr);

        var sOut =
            '<div class="innerDetails">' +
                '<table id="' + sTableName + '">' +
                    '<thead>' +
                        '<tr>' +
                            '<th>' +
                                'Notes' +
                            '</th>' +
                            '<th>' +
                                'Requests' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.trn_line)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.item)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.qty_req)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.qty_shipped)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.qty_received)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.qty_loss)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.sch_rcv_date)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.sch_ship_date)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.CreatedBy)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.UpdatedBy)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.CreateDate)' +
                            '</th>' +
                            '<th>' +
                                '@Html.DisplayNameFor(model => model.TrnItem.RecordDate)' +
                            '</th>' +
                        '</tr>' +
                    '</thead>' +
                    '<tbody></tbody>' +
                '</table>' +
            '</div>';

        return sOut;
    }

    function GetNoteTableHTML() {
        var sOut =
            '<table id="objNotes">' +
                '<thead>' +
                    '<tr>' +
                        '<th>' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.Note.NoteDesc)' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.Note.CreatedBy)' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.Note.UpdatedBy)' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.Note.LastUpdated)' +
                        '</th>' +
                    '</tr>' +
                '</thead>' +
                '<tbody></tbody>' +
            '</table>';

        return sOut;
    }

    function GetVRTableHTML() {
        var sOut =
            '<table id="objVendorRequest">' +
                '<thead>' +
                    '<tr>' +
                        '<th>' + //I need this empty header Column for the ID column
                            'ID' +
                        '</th>' +
                        '<th >' + 
                            'Note' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.RequestCategoryCode)' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.Qty)' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.QtyLoss)' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.SourceWarehouse)' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.DestWarehouse)' +
                        '</th>' +
                        '<th>' +
                            '@Html.DisplayNameFor(model => model.TrnItem.VendorRequest.Processed)' +
                        '</th>' +
                    '</tr>' +
                '</thead>' +
                '<tbody></tbody>' +
                '<button id="btnAddNewRow">Add</button>' +
                '<button id="btnDeleteRow">Delete</button>' +
            '</table>';
            
        return sOut;
    }

    function GetNoteDetailHTML(objRow) {

        var sOut =
            '<div class="innerRowDetails">' +
                '<table>' +
                    '<tbody>' +
                        '<tr>' +
                            '<td>' +
                                '<div id="NoteEditorDiv" class="EditNotes">' +
                                    objRow.HTMLNoteContent +
                                    //objRow.NoteContent +
                                '</div>' +
                            '</td>' +
                        '</tr>' +
                    '</tbody>' +
                '</table>' +
            '</div>';

        return sOut;
    }

    function GetVRNoteDetailHTML(objRow) {

        var sOut =
            '<div class="innerRowDetails">' +
                '<table>' +
                    '<tbody>' +
                        '<tr>' +
                            '<td>' +
                                '<div id="VRNoteEditorDiv" class="EditRequestNotes">' +
                                    objRow.HTMLNotes +
                                '</div>' +
                            '</td>' +
                        '</tr>' +
                    '</tbody>' +
                '</table>' +
            '</div>';

        return sOut;
    }


</script>

